.allColumns img{
    width: 100%;
    float: left;
    display: block;
    height: 100px;
    object-fit: cover;
}
.allColumns [class*="col"]{
    margin-bottom: 20px;
}
.modal-body img{
    width: 100%;
}